body{
     /* background-color: gray; */
     /* font-family: "Nunito Sans", sans-serif; */
     /* font-size: 1.25rem; */
    /* line-height: 2.5rem; */
    /* font-weight: 400; */
}

.custom-display-4{
     /* font-family: "Nunito Sans", sans-serif !important; */



     font-size: 60px !important;
     font-family: 'Quicksand', sans-serif  !important;
    font-weight: 700  !important;
    line-height: 1.2 !important;
}
.lt-10{
     letter-spacing: 10px;
}
.lt-20{
     letter-spacing: 20px;
}
.bg-main{
     background: #5631af !important;
}
.bg-slight-orange{
     background: #ff8c00;
}

.border-color-main{
     background: #5631af;
}

.text-main-color{
     color: #5631af !important;
}

.border-none{
     border: none !important;
}

.bg-transparent{
     background: transparent !important;
}

.bg-darker{
     background-color: #0e0f11 !important;
}

.position-initial{
     position: initial !important;
}


.custom-shadow{
     box-shadow: 0 25px 20px -20px rgb(0 0 0 / 30%), 0 0 15px rgb(0 0 0 / 6%) !important;
     
 }



 .bg-facebook{
      background-color: #3b5998 !important;
 }

 .bg-whatsapp{
      background-color: #3b5998 !important;
 }