
body{
    transition: background-color .5s;
}

/* The side navigation menu */
.sidenav {
    /* width: 280px !important; */
    width: 21%;
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    display:block;
    
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


.sidenav li {
    list-style-type: none;
}
li.active{
    background-color: rgba(235, 229, 229, 0.651);
    border-radius: 10px;
}
li.active a{
    color: #5631af !important;
}
.sidenav li:hover, .offcanvas a:focus{
    /* color: #f1f1f1; */
    /* background-color: #d5dce2; */
    background-color: rgba(235, 229, 229, 0.651);
}
/* The navigation menu links */
.sidenav li a {
    /* padding: 8px 8px 8px 32px; */
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    /* font-size: 25px; */
    /* font-weight: 300;
    line-height: 1.2; */
    font-size: 20px;
    /* color: #818181; */
    color:#343a40;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    /* color: #f1f1f1; */
    color: auto;
    /* background-color: #343a40; */
}

/* Position and style the close button (top right corner) */
.closebtn {
    /* position: absolute; */
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 80%;
    /* margin-bottom: 20%; */
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    /* padding: 20px; */
    right: 0;
    width: 79% ;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.bg-lighter{

    background:#fdfdfdfc;
    /* background: whitesmoke; */
}

.nav{
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

.font-2{
    font-size: 20px;
}
#closeSideNav{
        display: none;
    }

@media screen and (max-width:700px){
    .sidenav{
        width: 0;
        display: none;
    }
    #main{
        width: 100%;
    }

    #closeSideNav{
        display: block;
    }
}

